node_modules
lib

**/*.js
!**/webpack/**/*.js
!babel/**/*.js
!scripts/**/*.js
!resources/html/**/*.js
!html/helpers/**/*

**/*.js.map

**/*.d.ts
!**/webpack/**/*.d.ts

**/*.css.ts

!eslint.config.js

!global.d.ts

**/*.css
**/*.css.map
