* {
  box-sizing: border-box;
}

:host(:not([floating]))
{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  > div
  {
    > .screen {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: rgba(0, 0, 0, .54);

      > .deadzone {
        padding: 1rem;
        width: 100%;
        min-height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        > .content {
          pointer-events: auto;
          width: 100%;
          max-width: 600px;

          @media only screen and (min-width: 768px) {
            width: 75%;
          }
        }
      }
    }
  }
}

:host([flexible])
{
  > div > .screen > .deadzone > .content
  {
    pointer-events: auto;
    width: auto;
    max-width: 100%;
  }
}

:host([floating])
{
  position: fixed;
  top: 25%;
  left: 25%;

  > .overlay
  {
    $side-width: 6px;
    $corner-width: 16px;

    position: relative;
    width: 100%;
    height: 100%;

    > fzn-panel
    {
      box-shadow: 0 0 15px rgba(0, 0, 0, .3);
      height: 100%;
    }

    .close,
    .move
    {
      position: absolute;
      z-index: 1;
      top: .5rem;
      font-size: 1.25rem;
      line-height: 0;
      cursor: grab;
      -webkit-text-stroke: 1px rgba(50, 50, 50, .6);
      color: rgba(255, 255, 255, .4);

      &:hover
      {
        color: rgba(255, 255, 255, 1);
      }
    }

    .move
    {
      left: .5rem;
    }

    .close
    {
      right: .5rem;
    }

    .t, .r, .b, .l, .tl, .tr, .br, .bl
    {
      position: absolute;
      z-index: 1;
    }

    .t, .b
    {
      width: calc(100% - #{$corner-width});
      height: $side-width;
      cursor: ns-resize;
    }

    .r, .l
    {
      height: calc(100% - #{$corner-width});
      width: $side-width;
      cursor: ew-resize;
    }

    .tl, .br
    {
      width: $corner-width;
      height: $corner-width;
      cursor: nwse-resize;
    }

    .tr, .bl
    {
      width: $corner-width;
      height: $corner-width;
      cursor: nesw-resize;
    }

    .t
    {
      top: calc(-1 * #{$side-width} / 2);
      left: calc(#{$corner-width} / 2);
    }

    .r
    {
      top: calc(#{$corner-width} / 2);
      right: calc(-1 * #{$side-width} / 2);
    }
    
    .b
    {
      left: calc(#{$corner-width} / 2);
      bottom: calc(-1 * #{$side-width} / 2);
    }

    .l
    {
      top: calc(#{$corner-width} / 2);
      left: calc(-1 * #{$side-width} / 2);
    }

    .tl
    {
      top: calc(-1 * #{$corner-width} / 2);
      left: calc(-1 * #{$corner-width} / 2);
    }

    .tr
    {
      top: calc(-1 * #{$corner-width} / 2);
      right: calc(-1 * #{$corner-width} / 2);
    }

    .br
    {
      right: calc(-1 * #{$corner-width} / 2);
      bottom: calc(-1 * #{$corner-width} / 2);
    }

    .bl
    {
      bottom: calc(-1 * #{$corner-width} / 2);
      left: calc(-1 * #{$corner-width} / 2);
    }
  }
}
