@use '../../resources/css/mixins/button.scss' as *;

* { box-sizing: border-box; }

:host
{
  display: inline-flex;
  flex-direction: row;

  > button,
  > a
  {
    @include fzn-button;
    flex-grow: 1;

    &:hover
    {
      @include fzn-button--hover;
    }

    &:active
    {
      @include fzn-button--active;
    }
  }
}

:host([variant='solid'])
{
  > button,
  > a
  {
    @include fzn-button--solid;

    &:hover
    {
      @include fzn-button--solid--hover;
    }

    &:active
    {
      @include fzn-button--solid--active;
    }
  }
}

:host([variant='solid-success'])
{
  > button,
  > a
  {
    @include fzn-button--solid-success;

    &:hover
    {
      @include fzn-button--solid-success--hover;
    }

    &:active
    {
      @include fzn-button--solid-success--active;
    }
  }
}

:host([variant='success'])
{
  > button,
  > a
  {
    @include fzn-button--success;

    &:hover
    {
      @include fzn-button--success--hover;
    }

    &:active
    {
      @include fzn-button--success--active;
    }
  }
}

:host([variant='danger'])
{
  > button,
  > a
  {
    @include fzn-button--danger;

    &:hover
    {
      @include fzn-button--danger--hover;
    }

    &:active
    {
      @include fzn-button--danger--active;
    }
  }
}

:host([variant^='subtle-'])
{
  --fzn-button--border-radius: 32px;
}

:host([variant='subtle-primary'])
{
  > button,
  > a
  {
    @include fzn-button--subtle-primary;

    &:hover
    {
      @include fzn-button--subtle-primary--hover;
    }

    &:active
    {
      @include fzn-button--subtle-primary--active;
    }
  }
}

:host([variant='subtle-solid'])
{
  > button,
  > a
  {
    @include fzn-button--subtle-solid;

    &:hover
    {
      @include fzn-button--subtle-solid--hover;
    }

    &:active
    {
      @include fzn-button--subtle-solid--active;
    }
  }
}

:host([variant='subtle-solid-success'])
{
  > button,
  > a
  {
    @include fzn-button--subtle-solid-success;

    &:hover
    {
      @include fzn-button--subtle-solid-success--hover;
    }

    &:active
    {
      @include fzn-button--subtle-solid-success--active;
    }
  }
}

:host([variant='subtle-success'])
{
  > button,
  > a
  {
    @include fzn-button--subtle-success;

    &:hover
    {
      @include fzn-button--subtle-success--hover;
    }

    &:active
    {
      @include fzn-button--subtle-success--active;
    }
  }
}

:host([variant='subtle-danger'])
{
  > button,
  > a
  {
    @include fzn-button--subtle-danger;

    &:hover
    {
      @include fzn-button--subtle-danger--hover;
    }

    &:active
    {
      @include fzn-button--subtle-danger--active;
    }
  }
}

:host([square])
{
  > button,
  > a
  {
    aspect-ratio: 1 / 1;
  }
}

:host([disabled])
{
  > button,
  > a
  {
    &, &:hover
    {
      @include fzn-button--disabled;
    }
  }
}

:host([size='xs'])
{
  > button,
  > a
  {
    @include fzn-button--xs;
  }
}

:host([size='s'])
{
  > button,
  > a
  {
    @include fzn-button--s;
  }
}

:host([size='l'])
{
  > button,
  > a
  {
    @include fzn-button--l;
  }
}
