@import '../resources/css/mixins/scrollbars.scss';

@include scrollbars;

:host
{
  display: flex;

  .screen .deadzone
  {
    padding: 3rem 2rem !important;
  }

  .media
  {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    background: #353535;
    border-radius: 3px;

    > img
    {
      max-width: 100%;
    }

    .spinner
    {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 30px;
      margin-left: -25px;
      margin-top: -25px;
    }
  }

  .open
  {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
  }
}
