:host
{
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before, &::after
  {
    position: relative;
    width: 100%;
    border-top: thin solid rgba(255, 255, 255, 0.12);
    top: 50%;
    content: "";
    transform: translateY(50%);
  }

  .content
  {
    margin: 0 .5rem;
    color: #DEDEDE;
  }
}

:host:not([variant])
{
  color: #FFFFFF;

  &::before, &::after
  {
    border-top-color: 1px solid #CEE61B;
  }

  .content
  {
    padding: 0 .5rem;
    font-size: 1rem;
    opacity: .9;
  }
}

:host([variant='quiet'])
{
  text-align: center;

  .content
  {
    opacity: .4;
  }
}
