@import 'prism-themes/themes/prism-a11y-dark';
@import 'material-icons/iconfont/material-icons';

:host(fzn-prose-editor)
{
  .milkdown
  {
    box-shadow: none;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(67, 76, 94, 1);
  }

  .milkdown-menu
  {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
  }

  .button
  {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .divider
  {
    margin: 0;
    min-height: auto;
  }

  .menu-selector-wrapper
  {
    border-right-color: transparent;
    border-left-color: transparent;
  }

  .menu-selector
  {
    width: 110px;
    height: 18px;
    margin: 0;
  }

  .icon
  {
    font-size: 16px;
  }
}
